@import url("https://fonts.googleapis.com/css?family=Roboto:&display=swap");
:root {
  --bg-color: #f4f4f4;
  --text-color: #1a1a1a;
  --accent-color: #005bff;
}

* {
  box-sizing: border-box;
}

  html,
body {
  scroll-behavior: smooth;
  overscroll-behavior-y: none;
}
 
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  min-width: 320px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1200px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul, li, ol {
  list-style: none;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}

.nav {
}
.menu__list {

}

.list {
  display: flex;
  align-items: center;
  gap: 15px;
  
}
.list__item {

}

.list__link {
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;

}

.about {
}


.about__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.text__descr {
display: flex;
flex-direction: column;
gap: 15px;
}

.about__content img {
  max-width: 500px;
  border-radius: 20px;
}
